<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>${shaderTitle} - ShaderToy2WebGL</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: #000
        }

        canvas {
            width: 100vw;
            height: 100vh;
            display: block
        }
    </style>
</head>

<body>
    <canvas id="gl"></canvas>
    <script>
        const canvas = document.getElementById('gl');
        ${webglCode}
    </script>
</body>

</html>